@import './../../colors';
@import './../../sizes';

.Table {
  border-collapse: collapse;
  th {
    text-align: left;
    font-weight: 600;
  }
  td {
    border: 1px solid;
    cursor:  pointer;
  }
  td,th {
    padding: 0 4px;
  }
  tr {
    height: $baseControlHeight;
  }
}
