$primary: #FA983C;
$ligth_gray: #ccc;
$darkGrey: #333;
$grey: #a0a0a0;
$white: #f7f7f7;
$blueColor: #247CF0;
$errorColor: #DE4E00;
$success: #ADD966;
$alarm: #FFCD17;
$message: #d1e5ff;
$buttonPrimaryBG: #fff7ef;
$buttonSuccessBG:#DCF7B0;
$buttonErrorBG:#FFE1C4;
$buttonAlarmBG:#FFF6B5;
