$buttonsTextSize: 16px;
$baseFontSize: 14px;
$baseControlHeight: 24px;
$baseControlLineHeight: 24px;
$buttonIconSizeSmallWidth: 16px;
$buttonIconSizeSmallHeight: 16px;
$buttonsTextSmallSize: 16px;
$buttonIconSizeMediumWidth: 24px;
$buttonIconSizeMediumHeight: 24px;
$buttonsTextMediumSize: 24px;
$buttonIconSizeBigWidth: 32px;
$buttonIconSizeBigHeight: 32px;
$buttonsTextBigSize: 32px;
$borderButtonPaddings: 0px 10px 2px;
$baseControlsLH: 20px;
$buttonBorderRadius: 24px;
$popupBodyPadding: 8px;
$popupHeaderPadding: 4px 30px 4px 8px;
$popupHeaderSize: 24px;
$popupHeaderTitleFontSize: 16px;
$popupHeaderTitleFontWeigth: 600;
$minStackWidth: 300px;
$baseElementMargin: 8px;
$baseChildElementMargin: 8px 0 0;
